@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-_R7WYxhA0qW_bi: 1px;
  --plasmic-token-unnamed-style-token: var(--token-_R7WYxhA0qW_bi);
  --token-dJUBU4bbLpxFTY: var(--token-CCszGGuWhcCDr5);
  --plasmic-token-unnamed-style-token-2: var(--token-dJUBU4bbLpxFTY);
  --token-CCszGGuWhcCDr5: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-CCszGGuWhcCDr5);
  --token-3b4UChV_d8d7Dc: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-3b4UChV_d8d7Dc);
  --token-sypojMoq859XKG: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-sypojMoq859XKG);
  --token-PsJVTCaqKzwckr: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-PsJVTCaqKzwckr);
  --token-cfuf9voA720AvC: var(--token-5e8KRfum7nZg8x);
  --plasmic-token-unnamed-style-token-7: var(--token-cfuf9voA720AvC);
  --token-5e8KRfum7nZg8x: var(--token-iGLeQxw-DLu97B);
  --plasmic-token-unnamed-style-token-8: var(--token-5e8KRfum7nZg8x);
  --token-iGLeQxw-DLu97B: var(--token-i2mWUpl1MUPnNd);
  --plasmic-token-unnamed-style-token-9: var(--token-iGLeQxw-DLu97B);
  --token-i2mWUpl1MUPnNd: var(--token-ZdCoL2nypMkY9U);
  --plasmic-token-unnamed-style-token-10: var(--token-i2mWUpl1MUPnNd);
  --token-ZdCoL2nypMkY9U: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-ZdCoL2nypMkY9U);
  --token-EXPSIycYAEKeyk: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-EXPSIycYAEKeyk);
  --token-i1mBNc0jy2jTqs: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-i1mBNc0jy2jTqs);
  --token-vawQlQx2_53pXw: var(--token-iv7eyNUXGmgJZK);
  --plasmic-token-background-color-1-f-7926: var(--token-vawQlQx2_53pXw);
  --token-iv7eyNUXGmgJZK: #1f7926;
  --plasmic-token-1-f-7926: var(--token-iv7eyNUXGmgJZK);
  --token-Jz_aF-sULs56jZ: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-Jz_aF-sULs56jZ);
  --token-9IUQpLJMVK9mjf: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-9IUQpLJMVK9mjf);
  --token-b906I46EPgpmWn: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-b906I46EPgpmWn);
  --token-9UHI7Uwx89V8eB: var(--token-bMt2EWFPAU42uJ);
  --plasmic-token-unnamed-style-token-17: var(--token-9UHI7Uwx89V8eB);
  --token-bMt2EWFPAU42uJ: #9dd3e1;
  --plasmic-token-unnamed-style-token-18: var(--token-bMt2EWFPAU42uJ);
  --token-7XwU8eEfHjceTL: currentcolor;
  --plasmic-token-unnamed-style-token-19: var(--token-7XwU8eEfHjceTL);
  --token-p8RekDmvnaO2Mq: var(--token-Ft853WXruENiu7);
  --plasmic-token-unnamed-style-token-20: var(--token-p8RekDmvnaO2Mq);
  --token-Ft853WXruENiu7: currentcolor;
  --plasmic-token-unnamed-style-token-21: var(--token-Ft853WXruENiu7);
  --token-eySWuYJK--uBNr: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-eySWuYJK--uBNr);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-EXPSIycYAEKeyk: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-EXPSIycYAEKeyk);
    --token-i1mBNc0jy2jTqs: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-i1mBNc0jy2jTqs);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override) {
  --mixin-hp1xB5sVJuyvwx_font-family: "Inter", sans-serif;
  --mixin-hp1xB5sVJuyvwx_font-size: 16px;
  --mixin-hp1xB5sVJuyvwx_font-weight: 400;
  --mixin-hp1xB5sVJuyvwx_font-style: normal;
  --mixin-hp1xB5sVJuyvwx_color: #535353;
  --mixin-hp1xB5sVJuyvwx_text-align: left;
  --mixin-hp1xB5sVJuyvwx_text-transform: none;
  --mixin-hp1xB5sVJuyvwx_line-height: 1.5;
  --mixin-hp1xB5sVJuyvwx_letter-spacing: normal;
  --mixin-hp1xB5sVJuyvwx_white-space: pre-wrap;
  --mixin-hp1xB5sVJuyvwx_user-select: text;
  --mixin-hp1xB5sVJuyvwx_text-decoration-line: none;
  --mixin-hp1xB5sVJuyvwx_text-overflow: clip;
  --mixin-Zy5mXnEXS28ieq_color: #000000;
  --mixin-Zy5mXnEXS28ieq_font-weight: 900;
  --mixin-Zy5mXnEXS28ieq_font-size: 72px;
  --mixin-Zy5mXnEXS28ieq_line-height: 1;
  --mixin-Zy5mXnEXS28ieq_letter-spacing: -4px;
  --mixin-Zy5mXnEXS28ieq_white-space: pre-wrap;
  --mixin-WagOP1jPOUNv1T_color: #000000;
  --mixin-WagOP1jPOUNv1T_font-size: 48px;
  --mixin-WagOP1jPOUNv1T_font-weight: 700;
  --mixin-WagOP1jPOUNv1T_letter-spacing: -1px;
  --mixin-WagOP1jPOUNv1T_line-height: 1.1;
  --mixin-WagOP1jPOUNv1T_white-space: pre-wrap;
  --mixin-8wjs-Ozy-f6vmP_color: #0070f3;
  --mixin-8wjs-Ozy-f6vmP_white-space: pre-wrap;
  --mixin-TpTF2bmWqEWvH__color: #000000;
  --mixin-TpTF2bmWqEWvH__font-size: 32px;
  --mixin-TpTF2bmWqEWvH__font-weight: 600;
  --mixin-TpTF2bmWqEWvH__letter-spacing: -0.8px;
  --mixin-TpTF2bmWqEWvH__line-height: 1.2;
  --mixin-TpTF2bmWqEWvH__white-space: pre-wrap;
  --mixin-VNjrJy6j581olP_color: #000000;
  --mixin-VNjrJy6j581olP_font-size: 24px;
  --mixin-VNjrJy6j581olP_font-weight: 600;
  --mixin-VNjrJy6j581olP_letter-spacing: -0.5px;
  --mixin-VNjrJy6j581olP_line-height: 1.3;
  --mixin-VNjrJy6j581olP_white-space: pre-wrap;
  --mixin-DRe3mnU-DyRcZz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DRe3mnU-DyRcZz_border-bottom-color: #dddddd;
  --mixin-DRe3mnU-DyRcZz_border-bottom-style: solid;
  --mixin-DRe3mnU-DyRcZz_border-bottom-width: 1px;
  --mixin-DRe3mnU-DyRcZz_border-left-color: #dddddd;
  --mixin-DRe3mnU-DyRcZz_border-left-style: solid;
  --mixin-DRe3mnU-DyRcZz_border-left-width: 1px;
  --mixin-DRe3mnU-DyRcZz_border-right-color: #dddddd;
  --mixin-DRe3mnU-DyRcZz_border-right-style: solid;
  --mixin-DRe3mnU-DyRcZz_border-right-width: 1px;
  --mixin-DRe3mnU-DyRcZz_border-top-color: #dddddd;
  --mixin-DRe3mnU-DyRcZz_border-top-style: solid;
  --mixin-DRe3mnU-DyRcZz_border-top-width: 1px;
  --mixin-DRe3mnU-DyRcZz_border-bottom-left-radius: 3px;
  --mixin-DRe3mnU-DyRcZz_border-bottom-right-radius: 3px;
  --mixin-DRe3mnU-DyRcZz_border-top-left-radius: 3px;
  --mixin-DRe3mnU-DyRcZz_border-top-right-radius: 3px;
  --mixin-DRe3mnU-DyRcZz_font-family: "Inconsolata";
  --mixin-DRe3mnU-DyRcZz_padding-bottom: 1px;
  --mixin-DRe3mnU-DyRcZz_padding-left: 4px;
  --mixin-DRe3mnU-DyRcZz_padding-right: 4px;
  --mixin-DRe3mnU-DyRcZz_padding-top: 1px;
  --mixin-DRe3mnU-DyRcZz_white-space: pre-wrap;
  --mixin-E7AG33H4AgzOPA_border-left-color: #dddddd;
  --mixin-E7AG33H4AgzOPA_border-left-style: solid;
  --mixin-E7AG33H4AgzOPA_border-left-width: 3px;
  --mixin-E7AG33H4AgzOPA_color: #888888;
  --mixin-E7AG33H4AgzOPA_padding-left: 10px;
  --mixin-E7AG33H4AgzOPA_white-space: pre-wrap;
  --mixin-TOLZShG8j_EGI1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TOLZShG8j_EGI1_border-bottom-color: #dddddd;
  --mixin-TOLZShG8j_EGI1_border-bottom-style: solid;
  --mixin-TOLZShG8j_EGI1_border-bottom-width: 1px;
  --mixin-TOLZShG8j_EGI1_border-left-color: #dddddd;
  --mixin-TOLZShG8j_EGI1_border-left-style: solid;
  --mixin-TOLZShG8j_EGI1_border-left-width: 1px;
  --mixin-TOLZShG8j_EGI1_border-right-color: #dddddd;
  --mixin-TOLZShG8j_EGI1_border-right-style: solid;
  --mixin-TOLZShG8j_EGI1_border-right-width: 1px;
  --mixin-TOLZShG8j_EGI1_border-top-color: #dddddd;
  --mixin-TOLZShG8j_EGI1_border-top-style: solid;
  --mixin-TOLZShG8j_EGI1_border-top-width: 1px;
  --mixin-TOLZShG8j_EGI1_border-bottom-left-radius: 3px;
  --mixin-TOLZShG8j_EGI1_border-bottom-right-radius: 3px;
  --mixin-TOLZShG8j_EGI1_border-top-left-radius: 3px;
  --mixin-TOLZShG8j_EGI1_border-top-right-radius: 3px;
  --mixin-TOLZShG8j_EGI1_font-family: "Inconsolata";
  --mixin-TOLZShG8j_EGI1_padding-bottom: 3px;
  --mixin-TOLZShG8j_EGI1_padding-left: 6px;
  --mixin-TOLZShG8j_EGI1_padding-right: 6px;
  --mixin-TOLZShG8j_EGI1_padding-top: 3px;
  --mixin-TOLZShG8j_EGI1_white-space: pre-wrap;
  --mixin-RMgvjOkh32IPw1_display: flex;
  --mixin-RMgvjOkh32IPw1_flex-direction: column;
  --mixin-RMgvjOkh32IPw1_align-items: stretch;
  --mixin-RMgvjOkh32IPw1_justify-content: flex-start;
  --mixin-RMgvjOkh32IPw1_list-style-position: outside;
  --mixin-RMgvjOkh32IPw1_padding-left: 40px;
  --mixin-RMgvjOkh32IPw1_position: relative;
  --mixin-RMgvjOkh32IPw1_list-style-type: disc;
  --mixin-RMgvjOkh32IPw1_white-space: pre-wrap;
  --mixin--76bBauomxq_Nn_display: flex;
  --mixin--76bBauomxq_Nn_flex-direction: column;
  --mixin--76bBauomxq_Nn_align-items: stretch;
  --mixin--76bBauomxq_Nn_justify-content: flex-start;
  --mixin--76bBauomxq_Nn_list-style-position: outside;
  --mixin--76bBauomxq_Nn_padding-left: 40px;
  --mixin--76bBauomxq_Nn_position: relative;
  --mixin--76bBauomxq_Nn_list-style-type: decimal;
  --mixin--76bBauomxq_Nn_white-space: pre-wrap;
  --mixin-68S9m5QCIXF5EZ_color: #000000;
  --mixin-68S9m5QCIXF5EZ_font-size: 20px;
  --mixin-68S9m5QCIXF5EZ_font-weight: 600;
  --mixin-68S9m5QCIXF5EZ_letter-spacing: -0.3px;
  --mixin-68S9m5QCIXF5EZ_line-height: 1.5;
  --mixin-68S9m5QCIXF5EZ_white-space: pre-wrap;
  --mixin-SdrdoDv7eGkwj0_color: #000000;
  --mixin-SdrdoDv7eGkwj0_font-size: 16px;
  --mixin-SdrdoDv7eGkwj0_font-weight: 600;
  --mixin-SdrdoDv7eGkwj0_line-height: 1.5;
  --mixin-SdrdoDv7eGkwj0_white-space: pre-wrap;
  --mixin-3RM7bJqeHXEGFn_color: #3291ff;
  --mixin-3RM7bJqeHXEGFn_white-space: pre-wrap;
  --mixin-DZVSqvTDc-C8fR_white-space: pre-wrap;
  --mixin-qkPbeKQk4hu9nf_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-hp1xB5sVJuyvwx_font-family);
  font-size: var(--mixin-hp1xB5sVJuyvwx_font-size);
  font-weight: var(--mixin-hp1xB5sVJuyvwx_font-weight);
  font-style: var(--mixin-hp1xB5sVJuyvwx_font-style);
  color: var(--mixin-hp1xB5sVJuyvwx_color);
  text-align: var(--mixin-hp1xB5sVJuyvwx_text-align);
  text-transform: var(--mixin-hp1xB5sVJuyvwx_text-transform);
  line-height: var(--mixin-hp1xB5sVJuyvwx_line-height);
  letter-spacing: var(--mixin-hp1xB5sVJuyvwx_letter-spacing);
  white-space: var(--mixin-hp1xB5sVJuyvwx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Zy5mXnEXS28ieq_color);
  font-weight: var(--mixin-Zy5mXnEXS28ieq_font-weight);
  font-size: var(--mixin-Zy5mXnEXS28ieq_font-size);
  line-height: var(--mixin-Zy5mXnEXS28ieq_line-height);
  letter-spacing: var(--mixin-Zy5mXnEXS28ieq_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-WagOP1jPOUNv1T_color);
  font-size: var(--mixin-WagOP1jPOUNv1T_font-size);
  font-weight: var(--mixin-WagOP1jPOUNv1T_font-weight);
  letter-spacing: var(--mixin-WagOP1jPOUNv1T_letter-spacing);
  line-height: var(--mixin-WagOP1jPOUNv1T_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-8wjs-Ozy-f6vmP_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-TpTF2bmWqEWvH__color);
  font-size: var(--mixin-TpTF2bmWqEWvH__font-size);
  font-weight: var(--mixin-TpTF2bmWqEWvH__font-weight);
  letter-spacing: var(--mixin-TpTF2bmWqEWvH__letter-spacing);
  line-height: var(--mixin-TpTF2bmWqEWvH__line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-VNjrJy6j581olP_color);
  font-size: var(--mixin-VNjrJy6j581olP_font-size);
  font-weight: var(--mixin-VNjrJy6j581olP_font-weight);
  letter-spacing: var(--mixin-VNjrJy6j581olP_letter-spacing);
  line-height: var(--mixin-VNjrJy6j581olP_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DRe3mnU-DyRcZz_font-family);
  border-radius: var(--mixin-DRe3mnU-DyRcZz_border-top-left-radius)
    var(--mixin-DRe3mnU-DyRcZz_border-top-right-radius)
    var(--mixin-DRe3mnU-DyRcZz_border-bottom-right-radius)
    var(--mixin-DRe3mnU-DyRcZz_border-bottom-left-radius);
  padding: var(--mixin-DRe3mnU-DyRcZz_padding-top)
    var(--mixin-DRe3mnU-DyRcZz_padding-right)
    var(--mixin-DRe3mnU-DyRcZz_padding-bottom)
    var(--mixin-DRe3mnU-DyRcZz_padding-left);
  border-top: var(--mixin-DRe3mnU-DyRcZz_border-top-width)
    var(--mixin-DRe3mnU-DyRcZz_border-top-style)
    var(--mixin-DRe3mnU-DyRcZz_border-top-color);
  border-right: var(--mixin-DRe3mnU-DyRcZz_border-right-width)
    var(--mixin-DRe3mnU-DyRcZz_border-right-style)
    var(--mixin-DRe3mnU-DyRcZz_border-right-color);
  border-bottom: var(--mixin-DRe3mnU-DyRcZz_border-bottom-width)
    var(--mixin-DRe3mnU-DyRcZz_border-bottom-style)
    var(--mixin-DRe3mnU-DyRcZz_border-bottom-color);
  border-left: var(--mixin-DRe3mnU-DyRcZz_border-left-width)
    var(--mixin-DRe3mnU-DyRcZz_border-left-style)
    var(--mixin-DRe3mnU-DyRcZz_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-E7AG33H4AgzOPA_color);
  padding-left: var(--mixin-E7AG33H4AgzOPA_padding-left);
  border-left: var(--mixin-E7AG33H4AgzOPA_border-left-width)
    var(--mixin-E7AG33H4AgzOPA_border-left-style)
    var(--mixin-E7AG33H4AgzOPA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TOLZShG8j_EGI1_font-family);
  border-radius: var(--mixin-TOLZShG8j_EGI1_border-top-left-radius)
    var(--mixin-TOLZShG8j_EGI1_border-top-right-radius)
    var(--mixin-TOLZShG8j_EGI1_border-bottom-right-radius)
    var(--mixin-TOLZShG8j_EGI1_border-bottom-left-radius);
  padding: var(--mixin-TOLZShG8j_EGI1_padding-top)
    var(--mixin-TOLZShG8j_EGI1_padding-right)
    var(--mixin-TOLZShG8j_EGI1_padding-bottom)
    var(--mixin-TOLZShG8j_EGI1_padding-left);
  border-top: var(--mixin-TOLZShG8j_EGI1_border-top-width)
    var(--mixin-TOLZShG8j_EGI1_border-top-style)
    var(--mixin-TOLZShG8j_EGI1_border-top-color);
  border-right: var(--mixin-TOLZShG8j_EGI1_border-right-width)
    var(--mixin-TOLZShG8j_EGI1_border-right-style)
    var(--mixin-TOLZShG8j_EGI1_border-right-color);
  border-bottom: var(--mixin-TOLZShG8j_EGI1_border-bottom-width)
    var(--mixin-TOLZShG8j_EGI1_border-bottom-style)
    var(--mixin-TOLZShG8j_EGI1_border-bottom-color);
  border-left: var(--mixin-TOLZShG8j_EGI1_border-left-width)
    var(--mixin-TOLZShG8j_EGI1_border-left-style)
    var(--mixin-TOLZShG8j_EGI1_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-RMgvjOkh32IPw1_display);
  flex-direction: var(--mixin-RMgvjOkh32IPw1_flex-direction);
  align-items: var(--mixin-RMgvjOkh32IPw1_align-items);
  justify-content: var(--mixin-RMgvjOkh32IPw1_justify-content);
  list-style-position: var(--mixin-RMgvjOkh32IPw1_list-style-position);
  padding-left: var(--mixin-RMgvjOkh32IPw1_padding-left);
  position: var(--mixin-RMgvjOkh32IPw1_position);
  list-style-type: var(--mixin-RMgvjOkh32IPw1_list-style-type);
  flex-column-gap: var(--mixin-RMgvjOkh32IPw1_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--76bBauomxq_Nn_display);
  flex-direction: var(--mixin--76bBauomxq_Nn_flex-direction);
  align-items: var(--mixin--76bBauomxq_Nn_align-items);
  justify-content: var(--mixin--76bBauomxq_Nn_justify-content);
  list-style-position: var(--mixin--76bBauomxq_Nn_list-style-position);
  padding-left: var(--mixin--76bBauomxq_Nn_padding-left);
  position: var(--mixin--76bBauomxq_Nn_position);
  list-style-type: var(--mixin--76bBauomxq_Nn_list-style-type);
  flex-column-gap: var(--mixin--76bBauomxq_Nn_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-68S9m5QCIXF5EZ_color);
  font-size: var(--mixin-68S9m5QCIXF5EZ_font-size);
  font-weight: var(--mixin-68S9m5QCIXF5EZ_font-weight);
  letter-spacing: var(--mixin-68S9m5QCIXF5EZ_letter-spacing);
  line-height: var(--mixin-68S9m5QCIXF5EZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-SdrdoDv7eGkwj0_color);
  font-size: var(--mixin-SdrdoDv7eGkwj0_font-size);
  font-weight: var(--mixin-SdrdoDv7eGkwj0_font-weight);
  line-height: var(--mixin-SdrdoDv7eGkwj0_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-3RM7bJqeHXEGFn_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
